{% extends "base.html" %}
{% load static %}
{% block content_wrapper %}
<div class="services-area pt-150 pb-150 section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-80">
                        <!-- <span>Easy to explore</span>-->
                    <h2>Te presentamos al equipo</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-2">
                <div class="text-center mb-30">
                    <div class="services-icon">
                        <span>
                            <img src="{% static "imagenes/Agus.png" %}">
                        </span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="https://www.linkedin.com/in/agustina-sheil-32117917a/">Agus</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center mb-30">
                    <div class="services-icon">
                        <span>
                            <img src="{% static "imagenes/Juli.png" %}">
                        </span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="https://www.linkedin.com/in/julieta-amalia-ibarra/">Juli</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center mb-30">
                    <div class="services-icon">
                        <span>
                            <img src="{% static "imagenes/Fer.png" %}">
                        </span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="https://www.linkedin.com/in/fergtorres/">Fer</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center mb-30">
                    <div class="services-icon">
                        <span>
                            <img src="{% static "imagenes/Nawi.png" %}">
                        </span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="https://www.linkedin.com/in/nahuel-leiva-81a68a195/">Nawi</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center mb-30">
                    <div class="services-icon">
                        <span>
                            <img src="{% static "imagenes/Javi.png" %}">
                        </span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="https://www.linkedin.com/in/javiersantillan1/">Javi</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center mb-30">
                    <div class="services-icon">
                        <span>
                            <img src="{% static "imagenes/Kevo.png" %}">
                        </span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="https://www.linkedin.com/in/kevin-ruiz-4b7b92170/">Kevo</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
                <div class="text-center mb-30">
                    <div class="services-icon">
                        <span>
                            <img src="{% static "imagenes/Fran.png" %}">
                        </span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="https://www.linkedin.com/in/franciscoorozcod/">Profe Fran</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-5"></div>
        </div>
        <div class="row justify-content-between mt-50">
            <div class="col-lg-5">
                <h3>El equipo</h3>
                <p>Somos estudiantes de la <b>Universidad Nacional del General Sarmiento (UNGS)</b> de la Tecnicatura Superior en Informática. 
                Nos conocimos a lo largo de toda la carrera y nos unimos para lograr este hermoso proyecto.
                </p>

                <h3 class="mt-50">La idea</h3>
                <p>Este proyecto surgió a partir de una lluvia de ideas para decidir cual realizar para la materia final de la carrera. 
                Entre varias, una problemática que habíamos encontrado era el no saber hacer cosas de la vida cotidiana porque no tuvimos algún familiar 
                o persona cercana que nos lo haya enseñado (por ejemplo, como hacer un buen asado o como hacer que la gotita no se seque).</p>
            </div>
            <div class="col-lg-6">
                <h3>Los carpinchos</h3>
                <p>A lo mejor te preguntas <b>"¿Los carpinchos que relación tienen?"</b> (y si no te lo preguntabas, te lo contamos igual).
                Cuando surgió la idea, en Argentina hubo una <i>"invasión"</i> de carpinchos (o capibaras) en un barrio de Buenos Aires llamado Nordelta. 
                Que realmente no fue una invasión, simplemente estaban tratando de <b>recuperar su habitat.</b></p>

                <p>A partir de ese acontecimiento, leyes ya existentes de protección, empezaron a hacerse más conocidas y las personas empezaron a concientizarse
                más sobre el tema.</p>

                <p>Por ese motivo (y porque nos parece adorable el carpincho) lo seleccionamos como representante de los humedales y para poder aportar un 
                poco de información e incentivar a la colaboración para la protección de los humedales.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}